<app-nav-bar></app-nav-bar>
<app-header></app-header>


<div class="containdiv">
  <div *ngIf="admin == 'false'" class="export">
    <meta charset="UTF-8">
    <form [formGroup]="uploadForm" (submit)="onSubmit()"
          id="uploadFiles" name="uploadFiles" method="post" encType="multipart/form-data">
      <div class="forms">
        <div class="input">
          <input class="input" #myInput type="file" name="profile" (change)="onFileSelect($event)"/>
        </div>

        <button type="submit" class="btn btn-light .btn-block cstm5">Upload</button>
        <br>
        <button type="button" (click)="logService.downloadFileTodayRestaurant()" class="btn btn-light .btn-block cstm6">
          Download
        </button>
      </div>
    </form>
  </div>

  <div class="border-div-top"></div>
  <div class="container content">
    <form>
      <div class="form1">
        <div class="input">
          <input type="text" placeholder="Dag" name="day" [(ngModel)]="day">
          <input type="text" placeholder="Maand" name="month" [(ngModel)]="month">
          <input type="text" placeholder="Jaar" name="year" [(ngModel)]="year">
        </div>

        <button class="btn btn-light .btn-block cstm2" (click)="filterDate()">Filter</button>
        <button class="btn btn-light .btn-block cstm3" (click)="resetDate()">
          <img src='./assets/images/reset.png' class="plus">
        </button>

        <input class="dp" type="date" value="dd/mm/yyyy" placeholder="Day" name="datepicker"
               (change)="filterDatePicker()" [(ngModel)]="fullDate">
      </div>
    </form>
    <div *ngIf="admin == 'false'" class="newLog">
      <button (click)="onSelect(-1);"
              type="button" class="btn btn-light .btn-block cstm4 btnNewLog">New
        <img src='./assets/images/plus2.png' class="plus2">
      </button>
    </div>
    <br>
    <!--  </div>-->

    <div class="pagin">
      <pagination-controls class="my-pagination"
                           previousLabel="Prev"
                           nextLabel="Next"
                           responsive="true"
                           (pageChange)="logService.handlePageChange($event)"
      ></pagination-controls>
    </div>

    <div
      *ngIf="logService.logObs$ | async">
      <details *ngFor="let item of logs | paginate : {
                  itemsPerPage: logService.pageSize,
                  currentPage: logService.page,
                  totalItems: logService.count };
          let i = index
        " [class.active]="i == logService.currentIndex">

        <summary data-date-format="dd-mm-yyyy" class="success" (click)="isSelected(item)"
                 [ngClass]="{active: item.id == logService.newLogId}">
          {{ item.date | date: 'dd-MM-yyyy' }} - {{ item.restaurant }}
        </summary>

        <ul>
          <li>
            <div routerLink="/log" class="container-log100">
              <form class="log100-form">
			<span class="log100-form-title">
         <button type="button" (click)="delete(item.id);" class="delete"><img class="delete2"
                                                                              src='./assets/images/delete.png'></button>
        {{item.restaurant}} - {{ item.date | date:'dd-MM-yyyy'}}
        <button *ngIf="admin == 'false'" type="button" (click)="onSelect(item.id);" class="adjust"><img class="adjust2"
                                                                                                        src='./assets/images/edit.png'></button>
				</span>
                <!-- ------------------------------------------------ -->

                <div class="tbl">

                  <div class="box">
                    <table>
                      <div class="label-input100-4-name bg1">

                        <tr class=" td-styles"> Ingevuld door:</tr>
                        <tr class="td-style">{{ item.name }}</tr>
                      </div>

                      <div class=" label-input100-4 bg1">
                        <tr class=" td-styles"> Moet besteld worden:</tr>
                        <tr class="td-style">{{ item.new_order }}</tr>
                      </div>
                      <div class=" label-input100-4 bg1">
                        <tr class=" td-styles"> Lost and founds:</tr>
                        <tr class="td-style">{{ item.losts }}</tr>
                      </div>

                      <div class=" label-input100-4 bg1">
                        <tr class=" td-styles"> Defecten:</tr>
                        <tr class="td-style">{{ item.defects }}</tr>
                      </div>
                    </table>
                  </div>

                  <!-- ------------------------------------------------ -->

                  <div class="wrap-input100 bg1">

                    <br>
                    <table class=" bg1 ">

                      <tr class="label-input100">
                        <td class="label-input100-2">Aantal verkochte pasta's restaurant:</td>
                        <td class="td-style4">{{ item.pasta_order_res }}</td>
                      </tr>

                      <tr class="label-input100">
                        <td class="label-input100-2">Aantal verkochte pasta's bezorging:</td>
                        <td class="td-style4">{{ item.pasta_order_del }}</td>
                      </tr>

                      <!-- ----------------------------------------------- -->

                      <tr style="opacity: 0;">empty row></tr>

                      <!-- just an empty row -->
                      <tr class="label-input100">
                        <td class="label-input100-2"></td>
                        <td class="td-style4"></td>
                      </tr>
                      <!-- ----------------------------------------------- -->

                      <tr class="label-input100">
                        <td class="label-input100-2">Omzet restaurant:</td>
                        <td class="td-style4">{{ item.revenue_res }}</td>
                      </tr>

                      <tr class="label-input100">
                        <td class="label-input100-2">Omzet bezorging:</td>
                        <td class="td-style4">{{ item.revenue_del }}</td>
                      </tr>

                      <tr class="label-input100">
                        <td class="label-input100-2">Omzet totaal:</td>
                        <td class="td-style4">{{ item.revenue_tot }}</td>
                      </tr>

                      <!-- ----------------------------------------------- -->

                      <tr style="opacity: 0;">empty row></tr>

                      <!-- just an empty row -->
                      <tr class="label-input100">
                        <td class="label-input100-2"></td>
                        <td class="td-style4"></td>
                      </tr>
                      <!-- ----------------------------------------------- -->

                      <tr class="label-input100">
                        <td class="label-input100-2">Besteding p/p (excl. bezorging):</td>
                        <td class="td-style4">{{ item.expendpp }}</td>
                      </tr>

                      <tr class="label-input100">
                        <td class="label-input100-2">Gewerkte uren:</td>
                        <td class="td-style4">{{ item.houres_worked }}</td>
                      </tr>

                      <tr class="label-input100">
                        <td class="label-input100-2">Rendement (incl bezorging):</td>
                        <td class="td-style4">{{ item.return_incl_del }}</td>
                      </tr>

                      <!-- ----------------------------------------------- -->

                      <tr style="opacity: 0;">empty row></tr>

                      <!-- just an empty row -->
                      <tr class="label-input100">
                        <td class="label-input100-2"></td>
                        <td class="td-style4"></td>
                      </tr>
                      <!-- ----------------------------------------------- -->

                      <tr class="label-input100">
                        <td class="label-input100-2">Van ’t huis:</td>
                        <td class="td-style4">{{ item.on_house }}</td>
                      </tr>

                      <tr class="label-input100">
                        <td class="label-input100-2">Korting:</td>
                        <td class="td-style4">{{ item.discount }}</td>
                      </tr>

                      <tr class="label-input100">
                        <td class="label-input100-2">Breuk:</td>
                        <td class="td-style4">{{ item.broken }}</td>
                      </tr>

                      <tr class="label-input100">
                        <td class="label-input100-2">Correctie:</td>
                        <td class="td-style4">{{ item.correction }}</td>
                      </tr>

                      <tr class="label-input100">
                        <td class="label-input100-2">Kasverschil:</td>
                        <td class="td-style4">{{ item.cash_difference }}</td>
                      </tr>

                      <br>

                    </table>
                  </div>

                </div>


                <div class=" label-input100-4-gd bg1">

                  <tr class=" td-styles"> Bijzonderheden algemeen:</tr>

                  <tr
                    class="td-style7">{{ item.general_details }}
                  </tr>
                </div>

                <div class="label-input100-download">

                  <tr>
                    <td class="label-input100-5">Menu:</td>
                    <td class="td-style5">
                  <span (click)="download(item.id)"><a class="fa fa-download"
                                                       style="color: white; font-size: 30px; cursor: pointer"
                                                       aria-hidden="true"></a></span>
                    </td>
                  </tr>
                </div>


              </form>
            </div>
          </li>
        </ul>
      </details>
    </div>


    <div class="itemspp">
      Items per pagina:
      <select (change)="logService.handlePageSizeChange($event)">
        <option value="" selected disabled hidden>{{logService.pageSize}}</option>
        <option *ngFor="let size of logService.pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>

    <div class="bottom-pagin">
      <pagination-controls class="my-pagination"
                           (pageChange)="logService.handlePageChange($event)"
                           previousLabel="Prev"
                           nextLabel="Next"
                           responsive="true"
      ></pagination-controls>
    </div>
  </div>
</div>

<ng-template>
  <app-new-log
    (refresh)="ngOnInit();"
  >
  </app-new-log>
</ng-template>













