<table id="excel-table">
  <tr>
    <td></td>
    <td>          ★ aperitivo ★						</td>
    <td></td>
    <td></td>
  </tr>
  <tr></tr>
  <tr>
    <td></td>
    <td></td>
    <td>Scrocchi met tapenade, groene olijven, grissini, fontina kaas en bruschetta</td>
  </tr>
  <tr></tr>
  <tr>
    <td>1.</td>
    <td></td>
    <td >{{dishOne?.name}}</td>
    <td></td>
    <td>{{ingredientsList[0]}}</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ingredientsList[1]}}</td>
  </tr>
  <tr>
    <td>2.</td>
    <td></td>
    <td >{{dishTwo?.name}}</td>
    <td></td>
    <td>{{ingredientsList[2]}}</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ingredientsList[3]}}</td>
  </tr>
  <tr>
    <td>3.</td>
    <td></td>
    <td >{{dishThree?.name}}</td>
    <td></td>
    <td>{{ingredientsList[4]}}</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ingredientsList[5]}}</td>
  </tr>
  <tr>
    <td>4.</td>
    <td></td>
    <td >{{dishFour?.name}}</td>
    <td></td>
    <td>{{ingredientsList[6]}}</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ingredientsList[7]}}</td>
  </tr>
  <tr>
    <td>5.</td>
    <td></td>
    <td >{{dishFive?.name}}</td>
    <td></td>
    <td>{{ingredientsList[8]}}</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ingredientsList[9]}}</td>
  </tr>
  <tr>
    <td>6.</td>
    <td></td>
    <td >{{dishSix?.name}}</td>
    <td></td>
    <td>{{ingredientsList[10]}}</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ingredientsList[11]}}</td>
  </tr>
    <tr>
    </tr>
    <tr>
      <td></td>
      <td>            ★ pasta del mese ★          </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
    </tr>
  <tr>
    <td>7.</td>
    <td></td>
    <td >{{dishSeven?.name}}</td>
    <td></td>
    <td>{{ingredientsList[12]}}</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ingredientsList[13]}}</td>
  </tr>
</table>
