<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->

<app-nav-bar></app-nav-bar>
<app-header></app-header>

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <app-task-overview></app-task-overview>
      </div>
      <div class="col-6" *ngIf="checkADMN==false">
        <app-personaltask></app-personaltask>
      </div>
      <div class="col-6" *ngIf="checkADMN==true">
        <app-checked-task></app-checked-task>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-contact-view></app-contact-view>
      </div>
      <div class="col-6">
        <app-home-log></app-home-log>
      </div>
    </div>
  </div>
</div>







