.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  max-width: 375px;
}

.login-page {
  background-image: url("src/assets/images/background-login.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
