.my-custom-scrollbar {
  position: relative;
  height: 250px;
  overflow: auto;
  scrollbar-width: thin;
}
.table-wrapper-scroll-y {
  display: block;
}

svg{
  color: red;
}

td{
  cursor:pointer;
}
#dev-table tr:nth-child(even)
{background-color: #e5e5e5;
  width: auto;
  min-width: 100%;
  overflow: hidden;
}


.card-header{
  background: #182f4d;
}
.widget-block{
  position: relative;
  height: 250px;
  margin-bottom: 75px;
  margin-left: 10px;
}

.form-control{
  border-radius:0;
}
li.ui-state-default{
  background:#fff;
  border:none;
  border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
  border-bottom:none;
}

.todo-footer{
  background-color:#F4FCE8;
  margin:0 -20px -10px -20px;
  padding: 10px 20px;
}
#done-items li{
  padding:10px 0;
  border-bottom:1px solid #ddd;
  text-decoration:line-through;
}
#done-items li:last-child{
  border-bottom:none;
}
#checkAll{
  margin-top:10px;
}
.fa-plus {
  float: right;
  cursor:pointer;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: darkslategray;
  background-color: darkslategray;
}
#container {
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border: 2px solid gainsboro;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
  line-height: normal;}

@media (min-width: 500px ){
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
div.b {
  white-space: nowrap;
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
  border: 1px solid red;
  background-color: #dd9494;
}
input.ng-valid.ng-touched, textarea.ng-valid.ng-touched{
  border: 1px solid mediumseagreen;
  background-color: mediumseagreen;
}
