.container {
  background: white;
  max-width: 100%;
  width: 100%;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0;
  margin: 0;
}
.table-wrapper-scroll-y {
  display: block;
}
.my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
  scrollbar-width: thin;
}
table th{
  background-color: white;
}


.todo-footer{
  background-color:#F4FCE8;
  margin:0 -20px -10px -20px;
  padding: 10px 20px;
}
#done-items li{
  padding:10px 0;
  border-bottom:1px solid #ddd;
  text-decoration:line-through;
}
#done-items li:last-child{
  border-bottom:none;
}
.fa-plus {
  float: right;
  cursor:pointer;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #e6e6e6;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
  border-radius: 15px;
}

@media screen and (max-width: 700px){

  .popup{
    width: 70%;
  }
}

input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
  line-height: normal;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}
.form input[type="checkbox"]:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: xx-large;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f096";
  opacity: 1 !important;
  appearance: none;
  background: transparent;
}

.form input[type="checkbox"]:checked:before {
  content: "\f046";
}

.form input[type="checkbox"] {
  font-size: 22px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: initial;
  height: calc(2em + .15rem + 4px);
}
#progressBar{
  z-index: 10;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
  background-color: #dd9494;
}

textarea.ng-invalid.ng-touched{
  border: 1px solid red;
  background-color: #dd9494;
}

.mybtn {
  color: black;
  padding: 5px 15px;
  width: 103px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
  border-color: #B9B3B3;
  background-color:transparent ;
  color: black;
  border-style: solid;
  border-width: thin;
  font-size: 1rem;
  font-style: inherit;
  pointer-events: auto;
}

.mybtn:hover {
  background: #e8e8e8;
  text-decoration: underline;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #e5e5e5;
  border: 1px solid #ddd;
  padding: .35em;
}
table tr:nth-child(even)
{background-color: #f2f2f2;
  overflow: hidden;
}

table th,
table td {
  padding: .625em;
  text-align: left;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  #TaskTable {
    border: 0;
  }

  #TaskTable caption {
    font-size: 1.3em;
  }

  #TaskTable thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #TaskTable tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  #TaskTable td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  #TaskTable td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  #TaskTable td:last-child {
    border-bottom: 0;
  }
}
